.Repos {
    border: 2px solid black;
    border-radius: 6px;
    width: 70%;
    margin: 10px  auto 20px auto;
    box-shadow: 1px 3px 5px 5px rgba(0,0,0, .4);
}
.Repos h3 {
    text-align: center;
}
.reposItem a {
    text-decoration: none;
    transition: all .4s ease-out;
}
.reposItem a:hover {
    cursor: pointer;
    opacity: .4;
    text-decoration: underline;

}